<h5 class="center">Friends, Artists, and Colleagues</h5>
<div class="row">
    <div class="col s12 m3 cards-container" ng-repeat="x in people">
        <div class="card">
            <div class="card-image">
                <img ng-src="img/friends-artists-colleagues/{{x}}" class="materialboxed" launch-events>
                <!--                        <span class="card-title">People</span>-->
            </div>
<!--
            <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                                        <a href="#">This is a link</a>
            </div>
-->
        </div>
    </div>
</div>