<div class="fadeIn animated" id="mainhero">
    <div class="row">
        <div class="col s12">
            <!--
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09513.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09515.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/jean-rigaud-s-21x29-port-neuf-no-frame.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09504.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09516.jpg"></a>
            </div>
-->
            <div class="card z-index-4">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="img/solomon-hero-page.jpg">
                            <!-- random image -->
                            <div class="caption right-align">
                                <h3 class="black-text">#gratitude</h3>
                                <h5 class=" red-text ">#abundance</h5>
                                <h5 class=" red-text ">#imagination</h5>
                            </div>
                        </li>
                        <li>
                            <img src="img/solomon-joyshop.jpg">
                            <!-- random image -->
                            <div class="caption left-align">
                                <br><br><br><br><br><br><br><br>

                                <a href="#/san-diego-art-restoration" class="btn btn-large red animated btnmove">Resoration Service</a>
                                <h5 class="light grey-text text-lighten-3 textshadowblack">Restoration &amp; Conservation</h5>
                            </div>
                        </li>
                        <li>
                            <img src="img/solomon-joyshop.jpg">
                            <!-- random image -->
                            <div class="caption right-align">

                                <a href="#/san-diego-art-appraisal" class="btn btn-large red animated btnmove">Appraisal Service</a>
                            </div>
                        </li>
                        <li>
                            <img src="img/city.jpg">
                            <!-- random image -->
                            <div class="caption center-align">
                                <br><br>
                                <p class="black-text">Located in San Diego, CA, USA</p>
                                <a href="#/san-diego-art-restoration" class="btn btn-large black animated btnmove">See Restoration Work</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
            </div>

        </div>

        <div class="container">
            <div class="col s12">
                <h2 class="header"></h2>
                <div class="card horizontal hoverable z-index-4">
                    <div class="card-image">
                        <img src="img/solomon_after_the_auction.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Solomon Cohen has been a consultant to both the art industry and patrons of the arts for much of his working career.</p>
                        </div>
                        <div class="card-action center red">
                            <a href="#" data-target="contactmodal">Contact Solomon</a>
                            <!--                            <a href="#about-s-cohen-fine-art">About SCFA</a>-->
                        </div>
                    </div>
                </div>
                <a href="#/s-cohen-fine-art-client-reviews" class="btn btn-block yellow animated btnmove darken-4">Client Reviews</a>
            </div>
        </div>
        <!---->
    </div>
</div>
