<div class="fadeIn animated">
    <div class="row">
        <div class="col s12">
            <h5 class="red-text accent-4 animated fadeIn delay1 sitetitle center ">S Cohen Fine Art</h5>
        </div>
    </div>

    <div class="hero center" id="hero">
        <h3>Client Testimonials</h3>
    </div>

    <div class="row">


        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/david-solomon-paris1994.jpg">
                    <span class="card-title">Paris, 1994. Dining After the Auction</span>
                </div>
                <div class="card-content">
                    <p>February 1, 2006<br /><br />To Whom It May Concern,<br /><br />Since 1986, I have known and worked with Solomon cohen both on a personal and professional basis. During these years, I have ben his mentor, imparting my knowledge and expertise of the artists Antonio Cort&egrave;s, Edoaurd Cort&egrave;s, Laloue, dyf and Loir. As a result, I am completely confident of Solomon's ability in executing an accurate authentification of their work.<br /><br />Solomon has proven time and again to be reliable, trustworthy and thorough in any endeavor he undertakes. Always punctual and diligent, he is an effective collaborator and often served as my liaison in numerous venutres such as acquisitions, sales, lending his expertise in the field of restorations, appraisals and authentications. I have entrusted him with my personal and business affairs without reservation.<br /><br />1993 was the genesis of a life long intent to write a book on the life and work of Edouard Cort&egrave;s. From its inception, Solomon assisted in varied ways, inclusive of collecting data, accompanying me in my travels to Europe as part of researching the book and assisted me in drafting the first mock up for the now published biography titled: "Le Po&egrave;te Parisien de la Peinture -- Edouard Cort&egrave;s".<br /><br />In the year 2000, Solomon assumed the responsibility of restoring, evaluating and cataloguing eighty-one works of art from my private collection for an auction to benefit the Ben Gurion University of the Negev. His diligence, knowledge, prosessionalism and ability resulted in a very successful endeavor.<br /><br />Solomon is honest, reliable, scholarly and motivated to provide outstanding service and product to his clients. I consider Solomon to be not only a prot&eacute;g&eacute; but a very good friend.<br /><br />I am grateful to all of you for the friendships, courtesy and assistance I have enjoyed throughout the years. My wish is that the same consideration and support should be extended to my prot&eacute;g&eacute; and colleague Solomon Cohen.<br /><br />David Klein<br />February 1, 2006<br />Los Angeles, CA</p>
                    <p><cite>David Klein<br />Klein Art Gallery</cite></p>
                    <br>
                    <cite>(A letter of recommendation to colleagues, associates and patrons from David Klein,
expert and author of the biographical book on the life and work of Edouard Cortès:
Edouard Cortès, Le Poète Parisien de la Peinture)</cite>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/wallstreetartframing.jpg">
                    <span class="card-title">Wall Street Art Framing</span>
                </div>
                <div class="card-content">
                    <p>Dear Sir or Madam,<br /><br />For over seven years, I have highly recommended Solomon Cohen to my clients for all their restoration and appraisal needs. He has restored not only oil and paper art but also ornate antique frames.<br /><br />Mr. Cohen exhibits great technical skill, professionalism, and impeccable manners. He has been a great asset to the services I can provide in my art sales and framing business. His work has enhanced my professional reputation in the La Jolla art community.<br /><br />Please feel free to contact me for any additional information you might need.</p>
                    <p><cite>Adrian Fortmann<br />Wall Street Art Framing</cite></p>
                </div>
            </div>
        </div>


        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/gallery-walls.jpg">
                    <span class="card-title">Gallery La Scala</span>
                </div>
                <div class="card-content">
                    <p>As an art dealer/broker/consultant for many years, I write this recommendation for Solomon Cohen with utmost appreciation for, and confidence in, his service as a conservator of fine art and for his acumen as an appraiser.<br /><br />My experience working with Mr. Cohen encompasses approximately eight (8) years now. He has performed every challenge I brought to him with absolute professionalism, courtesy, timeliness and impeccable technical skill. In addition, he is a scholar, poet, researcher, a noteworthy artist himself, and the absolute gentleman. All of these elements are incorporated into his analysis of a project, and then literally into the working situation of restoring the work to its original state and/or intent of the work of art itself.<br /><br />Further, I do not hesitate to refer Mr. Cohen directly to my clients for their art requirements, either for restoration or appraisal services. He has proven to be entirely trustworthy and reliable in each situation. I am comfortable knowing that all of my clients needs are handled with the same care and excellence of service without deference to actual value.<br /><br />For any additional information, please feel free to contact me.</p>
                    <p><cite>Miki G. Kazmarek<br />Gallery La Scala</cite></p>

                </div>
            </div>
        </div>

    </div>

</div>
