<h5 class="center">The Collection Held by S. Cohen Fine Art</h5>
<div class="row">
    <div class="col s12 m2 cards-container" ng-repeat="x in artcollection">
        <div class="card">
            <div class="card-image">
                <img ng-src="img/san-diego-art-collection-held-by-s-cohen-fine-art/{{x}}" class="materialboxed" launch-events>
                <!--                        <span class="card-title">People</span>-->
            </div>
<!--
            <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                                        <a href="#">This is a link</a>
            </div>
-->
        </div>
    </div>
</div>