<div class="container fadeIn animated" launch-events>
    <div class="row">

        <div class="col s12">
            <!--
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09513.jpg"></a>
                    <a class="carousel-item" href="#two!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09515.jpg"></a>
                    <a class="carousel-item" href="#three!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/jean-rigaud-s-21x29-port-neuf-no-frame.jpg"></a>
                    <a class="carousel-item" href="#four!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09504.jpg"></a>
                    <a class="carousel-item" href="#five!"><img src="http://scohenfineart.com/wp-content/gallery/cityscape_1/dsc09516.jpg"></a>
                </div>
--> 
            <div class="biggerlineheightappraisal">
                <p class="animated fadeInDown"><img src="img/logo_sm_color.gif" class="animated bounceInLeft left paddingsmalllogoappraisal">We at S. Cohen Fine Art provide art appraisal documentation that includes item, artist description, provenance and auction records for the artist, general assessment of authenticity, quality, condition, fair market price, and replacement value. A &ldquo;Limiting Conditions and Assumptions&rdquo; document will be provided with each appraisal/report.</p>

                <p class="animated fadeInDown">Solomon Cohen, the Appraiser, will inspect, research, and provide documentation and photos on the items appraised. He will establish the value of items. The value of the items will be determined using the following criteria: The current established market value of items: based on the characteristics of value and elements of quality, most active marketplace, and comparable sales through research and methodology(Evaluation Matrixes). The appraisal is the educated opinion of the Appraiser and he will not advocate a value higher than that established by using the above method. Appraiser will, however, defend his position in regard to the value of a particular item.</p>

                <p class="animated fadeInDown"><img src="img/certified-seal.png" class="right animated bounceInRight responsive-img">Unless otherwise stated this appraisal will serve only as a means of establishing the value of each particular item and not as a proof of the authenticity of an item and have no limited interest conveyed other than those stated in the appraisal.</p>

                <p class="animated fadeInDown">Mr. Cohen&rsquo;s compensation is not contingent upon the reporting of a predetermined value or direction in value that favors the cause of the client, the amount of the value estimate, the attainment of a stipulated result, or the occurrence of a subsequent event. Services rendered at the flat rate of One Hundred and Twenty-five Dollars per hour. The fee shall be paid upon receipt of statement notifying final stages of appraisal work. The Appraiser shall then mail the appraisal document to the Owner upon receipt of fees.</p>

                <p class="animated fadeInDown">Nothing in this Agreement shall be construed to interfere with or otherwise effect the rendering of services by the Appraiser in accordance with his independent and professional judgment. Appraiser shall perform his services substantially in accordance with the Principals and the Codes of Ethics of the American Society of Appraisers, Uniform Standards of Professional Appraisal Practice, The Appraisers Association of America</p><br>
                <div class="row">
                    <div class="col s12 ">
                        <div class="card white">
                            <div class="card-content center">
                                <span class="card-title"><img src="img/logo_sm_color.gif"></span>
                                <p></p>
                            </div>
                            <div class="card-action center red white-text">
                                <span data-target="contactmodal">S. Cohen Fine Art has apprised fine art for galleries, institutions and private collectors nationwide.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>

                <cite>Mr. Mario B. Simic of Simic New Renaissance Galleries engaged S. Cohen Fine Art for the appraisal of the complete collection (two hundred artworks to include Cortes, Renoir, Lebourg, Pinal, Valtat, Loir, Dyf, Luce, and Montezin) of the touring exhibition titled &ldquo;Post-Impressionist Paintings of Paris&rdquo; Written by Noel Coret, coordinated by Madam L. Renoir and hosted by the Provincial Museum of Alberta, Edmonton, Canada from June 9, 2001 to September 3, 2001.</cite><br>
                <hr>
            </div>

        </div>
        <!--            -->
        <div class="col s12 m7">

            <div class="card horizontal  accent-4 z-index-4">
                <div class="card-image">
                    <img src="img/NEAA-Logo.png">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Member - NEAA</p>
                        <p>Personal Property Appraisals with Honesty, Integrity and Trust</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Appraisers Association</a>
                    </div>
                </div>
            </div>


            <div class="card horizontal  accent-4 z-index-4">
                <div class="card-image">
                    <img src="img/AAA-logoOwl.gif">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Member - AAA</p>
                        <p>The premier national association of personal property appraisers who focus on fine and decorative arts.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">New England Appraisars</a>
                    </div>
                </div>
            </div>


            <!--           -->
        </div>

        <div class="col s12 m5">

            <div class="card  accent-4 z-index-4">
                <div class="card-image">
                    <img src="img/diploma.jpg" class="materialboxed">
                </div>
                <!--
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Member - Appraisers Association of America</p>
                        <p></p>
                    </div>
                    <div class="card-action">
                        <a href="#">Appraisers Association of America</a>
                    </div>
                </div>
-->
            </div>
        </div>
        <!---->
        <!---->
    </div>
</div>
