<div class="container" launch-events>
    <div class="row">
        <div class="col s12">
            <h5 class="center">Art Restoration in San Diego</h5>
            <h6 class="center">Precise restoration and art conservation</h6><br>
            <div class="tags center">
                <div class="chip white-text black">If you would like to speak with us in regards to your restoration, please call <a href="tel:+1(619) 482-0452">+1 (619) 482-0452</a> at your leisure.
                </div>
            </div>

            <div class="row">
                <div class="col s12 m7">
                    <div class="card z-index-4">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/old-woman.jpg" class="materialboxed">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4>Types of Restoration</h4>
                                <div class="tags">
                                    <div class="chip white-text grey">Surface Cleaning</div><br>
                                    <div class="chip white-text teal">Varnish Coating and Removal-Relining</div><br>
                                    <div class="chip white-text grey">Repairs of Tears, Rips, Gouges, Scrapes and Punctures-Panel Repairs</div><br>
                                    <div class="chip white-text teal">Inlay Fillers</div><br>
                                    <div class="chip white-text grey">Frame restoration and filding</div><br>
                                    <div class="chip white-text teal">Reparits of Cracking and Blistering</div><br>
                                    <div class="chip white-text grey">Removal of Hair, Dust, Scratches, Cracks, Tears and Dents from works of art on paper</div><br>
                                    <div class="chip white-text teal">Restoration &amp; Conservation of oil, tempera, watercolor, pastelworks on canvas, board, paper &amp; icons</div><br>
                                </div>
                            </div>
                            <!--                            <div class="card-action">-->
                            <!--                                <a href="#" data-target="contactmodal">Contact Solomon</a>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col s12 m5">
                    <div class="card z-index-4">
                        <div class="card-image">
                            <!--                            <img src="img/art-restoration-san-diego/old-woman.jpg" class="materialboxed">-->
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h5 class="red-text">Truth About Restoration</h5>
                                <p>The likelihood that art works in your possession will come in contact with dust, pollutants, pollen, sun, and variable temperatures are normal factors. Not to mention the occasional unforeseen accidental damage such as a rip, scratch, tear, puncture, mold, water damage, fire and insects.</p>
                                <br/>
                                <p>As conservators we consider the preservation of an object as a priority. Our intent is to facilitate, conserve and protect. We apply our standards of uncompromising quality and materials to every restoration as well as evaluating and providing a written and photographic report.</p>
                                <br/>
                                <p><cite class="grey-text">“To preserve our heritage to indeed conserve and restore our pictorial collective biography, is not merely our duty but more likely our highest responsibility. A testimony of how we were and what we are becoming. Committing both talent and science on behalf of those who have past on and those who are yet to come, provides a bridge between past imagination and our future creations. ” – S. Cohen</cite> </p>
                                <br/>
                                <p class="red-text center">S. Cohen Fine Art is a restorer for galleries, institutions and private collectors worldwide.</p>
                            </div>
                            <div class="card-action">
                                <a href="#" data-target="contactmodal">Contact Solomon</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m5 offset-m1">
                        <div class="card z-index-4">
                            <div class="card-image">
                                <img src="img/art-restoration-san-diego/before-old-woman.jpg" class="materialboxed">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <!--                                <p>Solomon Cohen has been a consultant to both the art industry and patrons of the arts for much of his working career.</p>-->
                                </div>
                                <!--
                                <div class="card-action">
                                    <a href="#" data-target="contactmodal">Contact Solomon</a>
                                </div>
-->
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m5 ">
                        <div class="card z-index-4">
                            <div class="card-image">
                                <img src="img/art-restoration-san-diego/after-old-woman.jpg" class="materialboxed">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <!--                                <p>Solomon used a variety of techniques to restore this piece.</p>-->
                                </div>
                                <!--
                                <div class="card-action">
                                    <a href="#" data-target="contactmodal">Contact Solomon</a>
                                </div>
-->
                            </div>
                        </div>
                    </div>



                    <div class="col s11 offset-s1 m10 offset-m1">

                        <div class="card horizontal accent-4 z-index-4 hoverable">
                            <div class="card-image">
                                <img src="img/aor_logo_sm.jpg">
                            </div>
                            <div class="card-stacked red white-text">
                                <div class="card-content">
                                    <p class="center">Member – Association of Restorers &nbsp; Council of Certified Artists</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h5 class="center">Restorations in Detail</h5>
    <div class="row">

        <div class="card orange lighten-1">
            <div class="card-content center ">
               <p>Cleaning Project</p>
                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/darkroombefore1.jpg" class="materialboxed" data-caption="Before" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        <p>Before</p>
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>Before</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/darkroombefore2.jpg" class="materialboxed" data-caption="During" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>During</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/darkroomafter.jpg" class="materialboxed" data-caption="After" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>After</p>
                        </div>
                    </div>
                </div>
                &nbsp;
            </div>

        </div>
        <div class="card grey lighten-1">
            <div class="card-content center ">
               <p>Sculpture</p>
                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/sculpturebefore1.jpg" class="materialboxed" data-caption="Before" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        <p>Before</p>
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>Before</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/sculpturebefore2.jpg" class="materialboxed" data-caption="Before" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>Before</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="img/art-restoration-san-diego/sculptureafter.jpg" class="materialboxed" data-caption="After" launch-events>
                            <!--                        <span class="card-title">People</span>-->
                        </div>
                        <!--
                    <div class="card-content">
                        
                    </div>
-->
                        <div class="card-action red center white-text">
                            <p>After</p>
                        </div>
                    </div>
                </div>
                &nbsp;
            </div>

        </div>
    </div>
