@import url('https://fonts.googleapis.com/css?family=Bentham|Libre+Baskerville:400,400i,700|Playfair+Display:400,400i|Scheherazade');
.smallfootertext {
    font-size: .7em;
}
.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}
/*

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
*/
.contactmargin {
    padding-bottom: 15px !important;
}
.paddingsmalllogoappraisal {
    padding: 13px;
}
.certifiedseal {
    max-height: 200px;
}
.biggerlineheightappraisal {
    line-height: 1.3em;
}
.footer-copyright {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.smallertext {
    font-size: .8em;
}
.sitetitle {
    font-size: 1.2em;
    text-shadow: black 1px 1px;
    font-weight: 700;
    position: relative;
    top: 5px;
}

.sitemoto {
    font-size: .9em;
    text-align: center;
    /*            max-width: 80%;*/
    margin-right: auto;
    margin-left: auto;
    color: black;
    text-shadow: white 1px 1px;
}
.textshadowwhite {
    text-shadow: white 1px 1px;
}
.textshadowblack {
    text-shadow: black 1px 1px;
}
.backgroundpic {
    background-image: url("../img/b67a45706c109f7f2b153c79c0f330ac.jpg");
}

.fixed-action-btn {
    /* 	position: relative !important; */
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    height: 60px;
}

.logo {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.cardgradient {
    background: #4CA1AF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF, #C4E0E5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4CA1AF, #C4E0E5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.holder {
    width: 1000px;
}


/*         101 153*/

.leftcenter {
    width: 500px;
    heigth: 100px;
    /*                        float: left;*/
    text-align: right;
}

.rightcenter {
    /*            padding-left: 3px;*/
    width: 500px;
    heigth: 100px;
    /*            float: right;*/
    text-align: left;
}

.fiximgs {
    display: inline-block;
    line-height: 0px;
    padding: 0px !important;
    margin: 0px !important;
}

.logoimg img {
    max-height: 67px;
}

.bowtie {
    max-height: 25px;
    position: relative;
    top: 33px;
}

.bowtietop {
    max-height: 20px;
    position: relative;
    top: 7px;
    clear:both;
    
}

body {
    font-family: 'Libre Baskerville', serif;
    background: #141E30;
    background-image: url('../img/cheap_diagonal_fabric.png');
}

.bluebggradient {
 /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30, #243B55);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30, #243B55);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.redgradient {
    padding-top: 10px;
    padding-bottom: 15px;
    background: #F00000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F00000, #DC281E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F00000, #DC281E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toolbarlogo {
    max-height: 38px;
    margin-top: 9px;
}


}

.footerbg {
    background-image: url('http://scohenfineart.com/wp-content/themes/solomonsDesign/images/Middle_texture.jpg');
}

.delayhalf1 {
    -webkit-animation-delay: 500ms;
    /* Safari 4.0 - 8.0 */
    animation-delay: 500ms;
}
.delay1 {
    -webkit-animation-delay: 1s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 2s;
}
.topbar {
    height: 120px;
}
.card-title {
    padding: 7px !important;
    font-size: 1em !important;
    text-shadow: black 1px 1px;
}
